body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  }

a {
   text-decoration: none;
  }

  /* header */
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #ff0000;
}


/* main */

.intro {
  background-color: #eeeeee;
}
.intro h1 {
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
}
.intro p {
  font-size: 16px;
}
.slide a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #fb565a;
}
.slide p{
  font-size: 18px;
  color: #283136;
}
p.slide-motto  {
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
  color: #000000;
}
.slide-switches li {
  list-style: none;
}
.features-list a {
  color: #ffffff;
}
.feature-item-sites a {
  background-color: #ff0000;
}
.feature-item-applications a {
  background-color: #00ca74;
}
.feature-item-presentation a {
  background-color: #efc84a;
}
.feature-item-sites a:hover,
.feature-item-sites a:focus {
  background-color: #e74246;

}
.feature-item-applications a:hover,
.feature-item-applications a:focus {
  background-color: #00bc6c;
}
.feature-item-presentation a:hover,
.feature-item-presentation a:focus {
  background-color: #eab534;
}
.information-us p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}
p.us-header {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}
.information-list p {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
}
.information-list li {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}
.features-list h3{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.information-researches p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
}
.information-researches tr {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}
tr.interest {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
}
.logo-client {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

/* catalog */

.filters li {
  list-style: none;
}
.filters h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.filters-show {
  background-color: #eeeeee;
}
.sort h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.sort li{
  list-style: none;
}
.sort {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.catalog-item {
  background-color: #eeeeee;
  width: 360px;
  height: 231px;
  text-align: center;
}
.catalog-item a {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}
.catalog-item p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.catalog-item button {
  color: #ffffff;
  background-color: #fb565a;
}
.catalog-pages a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #eeeeee;
  color: #000000;
}
.catalog-pages a:hover,
.catalog-pages a:focus {
  background-color: white;
  border: 2px solid #eeeeee;
}

/* footer */

.footer-contacts {
  background-color: #ffffff;
  width: 319px;
  height: 308px;
}
.footer-contacts h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
}
.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.footer-contacts a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}
.popup-window {
  background-color: white;
  width: 960px;
  height: 590px;
}
.window-entry label {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.window-button button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

p.proposal {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}
p.sale  {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}
li.social-button {
  list-style: none;
}





