body {
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  color: #283136;
  font-family: 'Roboto', Arial, sans-serif;;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
  }
a {
  text-decoration: none;
  }
  .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  }
  .inner {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
  }

  /* header */
.header {
  background-color: #eeeeee;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
}
.header-logo:hover {
  opacity: 0.7;
}
.header-logo:focus {
  opacity: 0.7;
}
.header-logo:active {
  opacity: 0.4;
}
.site-navigation {
  display: flex;
  list-style: none;
}
.nav-link {
  padding-right: 47px;
}
.link {
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}
.link {
  color: #000000;
}
.link:hover,
.link:focus {
  color: #fb565a;
}
.link:active {
  color: #b2b2b2;
}
.link-active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 13px;
}
.icon-basket {
  padding-right: 26px;
  opacity: 0.4;
}
.site-cart {
  list-style: none;
}
/* слайд */
.intro {
  background-color: #eeeeee;
  position: relative;
}
.section-title {
  padding-bottom: 80px;
  padding-top: 54px;
}
.section-slide {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.slide {
  display: flex;
  justify-content: space-between;
}
.subtitle {
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
}
.slide-pagination {
  bottom: 75px;
  display: flex;
  list-style: none;
  position: absolute;
  right: 530px;
}
.pagination-btn {
  border: none;
  border-radius: 50%;
  height: 18px;
  padding: 0;
  width: 18px;
}
.activ-pagination {
  position: relative;
}
.activ-pagination::after {
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  content: "";
  display: block;
  height: 8px;
  left: 2.5px;
  position: absolute;
  top: 3px;
  width: 8px;
}
.pagination {
  padding-right: 17px;
}

/*Кнопки*/
.button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-transform: uppercase;
  text-align: center;
}
.button:active {
  box-shadow: inset 0px 5px 2px -5px rgba(0, 0, 0, 0.5);
}
.button-grey {
  background-color: #eeeeee;
  color: #000000;
  margin-right: 11px;
}
.button-grey:hover,
.button-grey:focus {
  background-color: #dfdfdf;
}
.button-grey:active {
  background-color: #d5d5d5;
  color: #959595;
}
.button-red {
  background-color: #ff0000;
}
.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}
.button-red:active {
  background-color: #d7373b;
  color: #e37376;
}
.button-green {
  background-color: #00ca74;
}
.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}
.button-green:active {
  background-color: #00aa62;
  color: #4dc491;
}
.button-yellow {
  background-color: #efc84a;
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}
.button-yellow:active {
  background-color: #e5a722;
  color: #edc265;
}
.catalog-red-button:active {
  color: white;
}
.active-btn {
  background: #ffffff;
  border: 2px solid #dbdbdb;
  color: #000000;
}

/* услуги */
.amenities {
  margin-top: 80px;
  margin-bottom: 83px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.feature-content {
  width: 260px;
}
.sub-title {
  font-size: 24px;
  text-transform: uppercase;
}

/* о нас  */
.information {
  border-top: 2px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  padding-bottom: 79px;
}
.information-section {
  width: 660px;
  margin-top: 20px;
}
.information-block {
  padding-bottom: 40px;
}
.intro-title {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}
.information-list {
  line-height: 2.5;
  list-style: none;
  padding-left: 0;
}
.item-info::before {
  content: '\2014';
  color: #fb565a;
  padding-right: 11px;
}
.information-researches {
  text-align: center;
  width: 360px;
  padding-top: 40px;
}
.table {
  padding-top: 45px;
}
.text {
  font-weight: bold;
  text-transform: uppercase;
}
/*логотип клиентов*/
.logo-clients {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  justify-content: space-between;
}
.logo-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.logo-client {
  opacity: 0.4;
  padding-left: 50px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.logo-client img {
  display: inline-block;
  vertical-align: middle;
}
.logo-client:hover,
.logo-client:focus {
  opacity: 1;
}
.logo-client:active {
  opacity: 0.2;
}
.logo-client::after {
  background: #eeeeee;
  content: "";
  display: inline-block;
  height: 52px;
  margin-left: 45px;
  vertical-align: middle;
  width: 2px;
}
.logo-client:last-child::after {
  display: none;
}
/* catalog */
/* фильтр левый блок */
.products {
  display: flex;
  justify-content: space-between;
}
.filters {
  padding-right: 140px;
  width: 260px;
}
.filter-item {
  margin-top: 43px;
  border: none;
  padding-bottom: 43px;
  padding-right: 0;
  padding-left: 0;
}
.tagline {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.range-filter {
  margin-top: 49px;
  width: 260px;
}
.range-controls {
  background-color: #f1f1f1;
  border-radius: 5px;
  height: 41px;
  margin-bottom: 15px;
  position: relative;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}
.scale {
  background: #d7dcde;
  height: 2px;
}
.bar {
  background: #00ca74;
  height: 2px;
  width: 70%;
}
.toggle {
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  height: 4px;
  left: 0;
  position: absolute;
  padding: 0;
  top: 31px;
  width: 4px;
}
.toggle-min {
  left: 50px;
}
.toggle-max {
  left: 120px;
}
.price-controls {
  font-size: 0;
}
.price  {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  width: 50%;
}
.from-to {
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
  color: #283136;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  width: 60px;
}
.max-price {
  text-align: right;
}

.radio-button-group {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-option {
  padding-bottom: 15px;
}
.filter-option .filter-label {
  cursor: pointer;
  display: block;
  position: relative;
  user-select: none;
}
.filter-label {
  padding-left: 50px;
  padding-bottom: 5px;
}

.filter-input-radio + .filter-label-radio::before {
  border: 4px solid #b8b8b8;
  border-radius: 50%;
  content: "";
  color: #b8b8b8;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 25px;
}

.filter-input-radio:checked + .filter-label-radio::after {
  background-color: #b8b8b8;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 10px;
}
.filter-label-radio {
  color: #283136;
  padding-bottom: 0;
  padding-top: 5px;
}
.filter-input-radio:hover + .filter-label-radio::before,
.filter-input-radio:focus + .filter-label-radio::before{
  border-color: #4d4d4d;
}
.filter-input-radio:checked:hover + .filter-label-radio::after,
.filter-input-radio:checked:focus + .filter-label-radio::after {
  background-color: #4d4d4d;
}
.filter-label-radio:hover,
.filter-label-radio:focus {
 color: #283136;
}
.filter-input-radio:disabled + .filter-label-radio::before {
  border-color: #ededed;
}
.filter-input-radio:checked:disabled + .filter-label-radio::after {
  background-color: #ededed;
}
.filter-label-radio:disabled {
  color: #ededed;
}

.filter-input-checkbox + .filter-label-checkbox::before {
  background: url(../img/checkbox-off-filt.svg) no-repeat;
  content: "";
  height: 23px;
  left: 0px;
  opacity: 0.5;
  position: absolute;
  width: 23px;
}
.filter-input-checkbox:checked + .filter-label-checkbox::after {
  background: url(../img/checkbox-on.svg) no-repeat;
  content: "";
  height: 23px;
  left: 0px;
  opacity: 0.5;
  position: absolute;
  width: 27px;
}
.filter-input-checkbox:checked + .filter-label-checkbox::before {
  display: none;
}
.filter-label-checkbox {
  color: #283136;
}
.filter-input-checkbox:hover + .filter-label-checkbox::before,
.filter-input-checkbox:focus + .filter-label-checkbox::before {
  opacity: 1;
}
.filter-input-checkbox:hover + .filter-label-checkbox::after,
.filter-input-checkbox:focus + .filter-label-checkbox::after {
  opacity: 1;
}
.filter-label-checkbox:hover,
.filter-label-checkbox:focus {
  color: #283136;
}
.filter-input-checkbox:disabled + .filter-label-checkbox::before {
  opacity: 0.2;
}
.filter-label-checkbox:disabled {
  color: #ededed;
}
/*фильтир правый блок */

.sort-product {
  width: 760px;
}
.filter-sort {
  display: flex;
  justify-content: space-between;
}
.sort-inner {
  display: flex;
}
.criteria {
  display: flex;
}
.sort-item {
  margin-right: 27px;
}
.sorting-filtr + .filter-label-sort {
  color: #b2b2b2;
  font-size: 14px;
  text-transform: uppercase;
}
.sorting-filtr:hover + .filter-label-sort,
.sorting-filtr:focus + .filter-label-sort {
  color: #666666;
}
.sorting-filtr:checked + .filter-label-sort {
  color: #000000;
}

.sort-icon-up {
  margin-left: 17px;
}
.icon-up + .filter-label-sort {
  content: "";
  opacity: 0.3;
}
.icon-up:hover + .filter-label-sort,
.icon-up:focus + .filter-label-sort {
  content: "";
  opacity: 0.5;
}
.icon-up:checked  + .filter-label-sort {
  content: "";
  opacity: 1;
}

/* магазин шаблонов */
.product-bloc {
  display: flex;
  justify-content: space-between;
}
.catalog {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
.catalog-list {
  margin-bottom: 33px;
  position: relative;
  display: block;
}
.catalog-list::before {
  background: #e9e9e9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  content: "";
  display: block;
  height: 41px;
  width: 360px;
}
.catalog-list:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.catalog-list:hover::before {
  background: #4d4d4d;
}
.catalog-list:hover .catalog-item {
  display: block;
}
.catalog-list::after {
  background: #ffffff;
  border-radius: 50%;
  box-shadow:
    18px 0 0 #ffffff,
    36px 0 0 #ffffff;
  content: "";
  height: 14px;
  left: 0;
  margin-left: 15px;
  margin-top: 13px;
  position: absolute;
  top: 0;
  width: 14px;
}
.catalog-item {
  background-color: #eeeeee;
  box-sizing: border-box;
  display: none;
  left:0;
  min-height: 232px;
  padding-left: 80px;
  padding-right: 80px;
  position: absolute;
  text-align: center;
  top: 385px;
  width: 360px;
}
.product-image {
  display: block;
}
/* контакты */
.contacts {
  margin-bottom: 70px;
  padding-top: 80px;
  position: relative;
}
.modal-map {
  background-image: url('../Group.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  height: 416px;
  padding-top: 55px;
  width: 100%;
}
.footer-contacts {
  background-color: #ffffff;
  box-sizing: border-box;
  min-height: 309px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  text-align: center;
  width: 320px;
}
.footer-contacts .button {
  box-sizing: border-box;
  width: 100%;
}
.footer-contacts .tagline {
  margin-top: 0;
}

/*соцсети */
.footer-social {
  display: flex;
  justify-content: flex-start;
}
.social {
  padding-right: 130px;
}
.social-list {
  display: flex;
  padding: 0px;
}
.social-item {
  list-style: none;
  margin-right: 10px;
}
.social-link {
  align-items: center;
  background: #e1e1e1;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 79px;
}

.social-link:hover,
.social-link:focus {
  background: #e74246;
}

.social-link:active {
  background: #d7373b;
  box-shadow: inset 0px 5px 2px -5px rgba(0, 0, 0, 0.5);
}
.social-link:active .social-icon {
  opacity: 0.6;
}
.footer-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}
/* попап */
.popup {
  display: none;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  padding: 70px 80px 84px 80px;
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -480px;
  width: 960px;
}
.popup .intro-title {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 20px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.form-field {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.col-medium {
  width: 50%;
}
.form-label {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}
.form-input {
  border-radius: 2px;
  box-sizing: border-box;
  border: 2px solid #d7dcde;
  color: #d7dcde;
  padding: 14px 8px;
  width: 100%;
}
.form-input:hover {
  border: 2px solid #b4b9bb;
}
.form-input:hover::placeholder {
  color: #b4b9bb;
}
.form-input:focus {
  border: 2px solid #000000;
}
.form-input:focus::placeholder {
  color: #000000;
}
.form-input:invalid {
  border: 2px solid #e74246;
}
.form-input:invalid::placeholder {
  color: #e74246;
}
.col-large {
  width: 100%;
}
.close-button {
  background: transparent;
  border: none;
  opacity: 0.5;
  padding: 0px;
  position: absolute;
  right: 90px;
  top: 75px;
}
.close-button:hover,
.close-button:focus {
  opacity: 1;
}
.close-button:active {
  opacity: 0.2;
}
